<h2>Novos Gastos</h2>


<div>
   <br>
    <label>ID do imóvel</label>
    <input #id_imovel type="text" id="id_imovel" name="id_imovel"/> <br><br>
    <label>Valor da conta de luz</label>
    <input #conta_luz type="text" id="conta_luz" name="conta_luz"/> <br><br>
    <label>Valor da conta de água</label>
    <input #conta_agua type="text" id="conta_agua" name="conta_agua"/> <br><br>
    <label>Valor do condomínio</label>
    <input #condominio type="text" id="condominio" name="condominio"/> <br><br>
    <label>Valor da propaganda de venda do imóvel</label>
    <input #propaganda_venda type="text" id="propaganda_venda" name="propaganda_venda"/> <br><br>
    
</div>

<br><br>

  <input type="button" (click)="inputNovosGastos(id_imovel.value, conta_luz.value, conta_agua.value, condominio.value, propaganda_venda.value)" value="Inserir" routerLink="/gastos"> &nbsp;|&nbsp; <input type="button" routerLink="/gastos" value="Voltar">

<br>

