<h2>Novo Proprietário</h2>


<div>
   <br>
    <label>Nome</label>
    <input #nome type="text" id="nome" value="" name="nome"/> <br><br>
    <label>CPF</label>
    <input #cpf type="text" id="cpf" name="cpf"/> <br><br>
    <label>RG</label>
    <input #rg type="text" id="rg" name="rg"/> <br><br>
    <label>Data de nascimento</label>
    <input #data_nasc name="data_nasc" type="date" id="data_nasc" name="data_nasc"/> <br><br>
    <label>Estado civil</label>
    <input #estado_civil type="text" id="estado_civil" name="estado_civil"/> <br><br>
    <label>Profissão</label>
    <input #profissao type="text" id="profissao" name="profissao"/> <br><br>
    
</div>

<br/>
<br/>


<input type="button" (click)="inputNovoProprietario(nome.value, cpf.value, rg.value, data_nasc.value, estado_civil.value, profissao.value)" value="Inserir" routerLink="/proprietario"> &nbsp;|&nbsp; <input type="button" routerLink="/proprietario" value="Voltar">



